.items .avatar img {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 5px;
}

.items-list .list-group-item {
  &.hover {
    background-color: $blue1;
  }
  min-height: 84px;
  position: relative;
  .item-main{
    position: relative;
  }
  .avatar-p {
    display: inline-block;
  }
  .text-p {
    display: inline-block;
    vertical-align: top;
    max-width: 75%;
  }

  &.hover .button-p {
    display: table;
    position: absolute;
    right: 5px;
    bottom: 5px;
    .act-btn.yes {
      color: $blue;
    }
  }
  .button-p {
    display: none;
  }
  .item-status {
    color: $blue3;
    font-size: x-small;
  }

}